<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Message Board</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <%- include('header', {title: "Mini Messageboard"}) %>
    <h2>Error Code 400: Invalid Form Values</h2>
    <h3>List of Errors</h3>
    <% for (let err of errors) { %>
        <p style="color: red;"><%= err.msg %></p>
    <% } %>
    <p style="color: rgb(0, 162, 255);">Please try submitting the form again by clicking the <strong>New Post</strong> button!</p>
</body>
</html>